<section
  class="{{class}} relative mx-auto mb-[80px] flex max-w-[360px] flex-col items-center justify-start gap-[30px] md:mb-[100px] md:max-w-[1024px] lg:mb-[120px] lg:max-w-[1410px] lg:gap-[40px]"
>
  {{> title title="Наши работы" buttons="1"}}

  <div class="swiper  !ml-[-60px] md:!ml-[-171px] lg:!ml-[-255px] w-full !overflow-visible" id="production-examples">
  <div class="swiper-wrapper">
    <div class="swiper-slide !h-auto !w-fit">
      <div
        class="h-[480px] w-[480px] md:h-[415px] md:w-[415px] lg:h-[570px] lg:w-[570px]"
      >
      <img
        class="h-full w-full rounded object-cover"
        alt=""
        src="/images/{{image1}}"
      />
      </div>
    </div>
    <div class="swiper-slide !h-auto !w-fit">
      <div
        class="h-[480px] w-[480px] md:h-[415px] md:w-[415px] lg:h-[570px] lg:w-[570px]"
      >
      <img
        class="h-full w-full rounded object-cover"
        alt=""
        src="/images/{{image2}}"
      />
      </div>
    </div>
    <div class="swiper-slide !h-auto !w-fit">
      <div
        class="h-[480px] w-[480px] md:h-[415px] md:w-[415px] lg:h-[570px] lg:w-[570px]"
      >
      <img
        class="h-full w-full rounded object-cover"
        alt=""
        src="/images/{{image3}}"
      />
      </div>
    </div>
    <div class="swiper-slide !h-auto !w-fit">
      <div
        class="h-[480px] w-[480px] md:h-[415px] md:w-[415px] lg:h-[570px] lg:w-[570px]"
      >
      <img
        class="h-full w-full rounded object-cover"
        alt=""
        src="/images/{{image4}}"
      />
      </div>
    </div>
    <div class="swiper-slide !h-auto !w-fit">
      <div
        class="h-[480px] w-[480px] md:h-[415px] md:w-[415px] lg:h-[570px] lg:w-[570px]"
      >
      <img
        class="h-full w-full rounded object-cover"
        alt=""
        src="/images/{{image5}}"
      />
      </div>
    </div>
  </div>

  {{> pages}}
</div>
</section>